h1 {
  font-family: "Oleo Script", cursive;
  text-align: center;
  font-size: 3rem;
}

h2 {
  font-family: sans-serif;
  font-size: 1rem;
  text-align: center;
}

h3 {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 0.8rem;
  text-align: center;
}

footer {
  padding-top: 50px;
  font-size: 14px;
}

li {
  display: inline;
  color: #cfd1d5;
  font-family: sans-serif
}

html,
body {
  height: 100%;
  justify-content: center;
}

html {
  display: table;
  margin: auto;
}

body {
  margin: auto;;  padding: 90px;
}

form {
  display: grid;
}

.form-input {
  line-height: 28px;
  margin: 7px 30px;
  border: solid 1px grey;
  border-radius: 5px;
  color: darkgrey
}

.login-button {
  background-color: #0094f6;
  color:aqua
}

#form-details {
  font-family: sans-serif;
  font-size: smaller;
}

.main-content {
  display: flex;
  max-width: 700px;
}

#insta-phone {
  padding: 20px;
  max-height: 480px;
}

#logo {
  width: 15px;
}

#apple {
  width: 100px;
  padding-left: 2px;
}

#google {
  width: 100px;
}

.right-section {
  border: solid 1px grey;
  border-radius: 5px;
  margin: 10px 0px;
}

hr {
  border: none;
  border-top: 1px solid grey;
  text-align: center;
  overflow: visible;
  height: 5px;
}

hr:after {
  background: #fff;
  padding: 0 4px;
  position: relative;
  content: "OR";
  top: -10px;
  font-family: sans-serif;
  color: grey;
  font-size: 0.7rem
}

a {
  color: grey;
}